<div class="corpo col-md-12">
  <aside id="side-menu" class="col-md-3">
    <%= image_tag "logo2.png", :class => "center-block tamanhomaximo", :id => "logo" %>
    <%= image_tag "elemento.png", :class => "center-block tamanhomaximo", :id => "banner1-aside" %>

    <div class="col-12" id="filtro">
      <div class=" col-3 labelselect">
        <p>Valor:</p>
      </div>
      <div id="valor" class="col-9">
          <p>R$ 100.000 à</p>
          <output class="" for="fader" id="volume">R$ 100.000</output>
      </div>
      <div class="col-12">
        <input type="range" min="500" max="4000000" value="100000" id="fader" name="valmax" step="100" oninput="outputUpdate(value)">
      </div>

      <div class="col-12 row">
        <div id="quartos" class="col-6 form-group">
          <label class=" " for="qto">Quartos:</label>
          <div class="select">
            <select name="qto" class=" " id="qto">
              <option value="0">Sem quarto(Terreno)</option>
              <option value="1">1 Quarto</option>
              <option value="2">2 Quartos</option>
              <option value="3">3 Quartos</option>
              <option value="4">4 Quartos</option>
              <option value="5">5 Quartos</option>
            </select>
            <div class="select_arrow"></div>
          </div>
        </div>
        <div id="bairros" class="col-6 form-group">
          <label class=" labelselect" for="bairro">Bairro:</label>
          <div class="select">
            <select class=" " id="bairro" name="bairro">
              <option>Ponta verde</option>
              <option>Jatiúca</option>
            </select>
            <div class="select_arrow"></div>
          </div>
        </div>
      </div>
      

      <div class="col-12 check-imovel ">
        <div class="check-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="piscina" value="s"> Piscina
          </label>
        </div>
        <div class="check-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="salao" value="s"> Salão de festas
          </label>
        </div>
        <div class="check-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="academia" value="s"> Academia
          </label>
        </div>
      </div>

      <div class="row" id="botao-filtro-container">
        <div class="col-6 ">
        </div>
        <div class="col-6">
            <div class="form-group">
              <button type="" class="btnbuscar btn btn-block">Buscar</button>
            </div>
        </div>
      </div>

    </div> <!-- Filtro -->
    <hr>
    <div class="row calendar-area">
      <div id="calendario" class="col-4">
        <%= image_tag "calendario.png", :class => "img-responsive"%>
      </div>
      <div class="col-8 ">
        <%= image_tag "descontosimperdiveis.png", :class => "img-responsive"%>
      </div>
    </div>
    <hr>
    <div class="col-md-12 btn-corretor-container">
        <div class="form-group">
          <button type="" class="btn-corretor btn btn-block">
            <p class="">FALE AGORA COM CORRETOR</p>
            <p class="">CHAT AO VIVO</p>
          </button>
        </div>
    </div>
  </aside>

    <!-- coluna 9 direita-->
  <main id="anuncios" class="col-md-9" >

    <% 12.times do%>
    <!-- anuncio individual-->
    <div class="col-md-4 anuncio-container">
        <div class="grow">
            <a href="">
                <%= image_tag "http://1.bp.blogspot.com/_zZSxcEzfHMc/THr5RAlM9ZI/AAAAAAAAAIs/UfNNqXmxMvw/s1600/PREDIO1.jpg", :class => "img-anuncio"%>  
                <div class="legenda">
                    <div>
                        <%= image_tag "elementolegenda.png"%>  
                    </div>
                    <div class="txt-imovel-container">
                        <div class="tipo">Residencial</div>
                        <div class="nome">Premiatto</div>
                    </div>
              </div>
                <div class="oferta">
                    <div class="desconto-oferta">10%</div>
                    <div class="legenda-oferta">de desconto</div>
                    <div class=" d-flex justify-content-center">
                        <p class="botao-oferta">Clique aqui e saiba mais!</p>
                    </div>
              </div>
            </a>
        </div>
    </div>
    <!-- anuncio individual-->
    <% end %>


  </main><!-- coluna 9 direita -->

</div><!-- corpo -->

<footer class=""><!--row do rodape-->
  <div id="rodape" class=" col-md-12"><!--rodape-->
    <div id="rodape-container" class="">
        <div class="col-md-4 ">
            REALIZAÇÃO
            <%= image_tag "aljos2.png", :width => "25%"%>
            <%= image_tag "teto2.png", :width => "30%"%>
        </div>
        <div class="col-md-8 col-xs-12 menu-footer">
            <%= image_tag "casa.png"%>
            <a href="#myModalReg" role="button" class="btn-rodape" data-toggle="modal">REGULAMENTO</a>
            &#x25cf;
            <a href="#myModalTer" role="button" class="btn-rodape" data-toggle="modal">TERMOS E CONDIÇÕES</a>
            &#x25cf;
            <a href="#myModalPol" role="button" class="btn-rodape" data-toggle="modal">POLÍTICA DE PRIVACIDADE</a>
        </div>
    </div>
  </div><!--rodape-->
  <div id="barra-cinza" class=" col-md-12">
  </div>
</footer>


<div id="myModalReg" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "casamodal.png", :class => "casamodal"%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 txtmodal">
            <h3>Regulamento</h3>
            Essa é uma área livre para teste. Fique a vontade para testar e examinar o código!
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 botoesmodal">
        </div>
      </div>

    </div>
  </div>
</div>